a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #000000de;
}
a:hover {
    text-decoration: underline;
}
#nav-bar {
    display: flex;
    padding: .65em;
}
#nav-bar #menu {
    width: 15px;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#middle {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#ex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}
#high-middle {
    display: flex;
    border: solid;
    border-color: lightsteelblue;
    border-width: 1px;
    border-radius: 10px;
  }
  #high-middle input {
    border: none;
  }
  #high-middle svg {
    width: 15px;
  }
footer {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    height: 5vh;
    align-items: center;
    margin-top: 10rem;
}
#high-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}
#low-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left {
    margin-right: 70rem;
    justify-content: space-between;
}
#right {
    display: flex;
    align-items: center;
}

#but-2 {
    background-color: #f8f9fa;
    border: none;
    margin: 11px 4px;
    padding: 10px 16px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
}
#but-21 {
    background-color: #f8f9fa;
    border: none;
    margin: 11px 4px;
    padding: 10px 16px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
}
#but-1 {
    padding: 5px 23px;
    margin: 0px 8px;
    background-color: #1a73e8;
    color: white;
    border: none;
}
#menu {
    margin-left: 1em;
}
#images {
    margin-left: 1em;
}
/*#mic {
    padding: 0px 8px;
}
#cam {
    padding: 0px 8px;

}*/
#low-mid {
    padding: 18px 0px 0px;
}
#logo {
    padding-bottom: 15px;
}