a {
    justify-content: space-between;
    text-decoration: none;
    color: #000000de;
}
a:hover {
    text-decoration: underline;
}
#nav-bar {
    display: flex;
    padding: .65em;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#middle {
    margin: auto;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    height: 5vh;
    align-items: center;
    margin-top: 10rem;

}
#left {
    margin-right: 70rem;
    justify-content: space-between;
}
#right {
    display: flex;
    align-items: center;
}
input {
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
   /* padding: .65rem;*/
    width: 100%;

}
#but2 {
    justify-content: space-between;
    background-color: ghostwhite;
    border: none;
}
#but1 {
    padding: 5px 23px;
    margin: 0px 8px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
}
#menu {
    margin-left: 1em;
}
#images {
    margin-left: 1em;
}